<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="text" scope="locale">
            <name>random_text</name>
            <label lang="de">Zufälliger Text</label>
            <label lang="en">Random Text</label>
            <description lang="de">Hello World!</description>
            <description lang="en">This slogan will be shown on the storefront</description>
        </element>
    </elements>
</config>